.footer {
  background-image: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  background-position: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
}

.footer__social-heading {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.footer__list {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  text-decoration-style: none;
  list-style: none;
}

.footer__list-item {
}

.footer__social-icon {
}

.footer__social-link {
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin-top: 180px;
  margin-bottom: 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
